---
layout: single
---
<style TYPE="text/css">
.gallery-wrapper {
  text-align: center;
  padding: 1em 0 4em 0;
}
.gallery-best-image{
  max-height: 15em;
  max-width: 15em;
}
</style>
{% for gallery in page.galleries %}
<div class="gallery-wrapper">
    <a href="{{ gallery['gallery'] }}">
        <img class="gallery-best-image" src="{{ gallery['gallery'] }}/thumbs/{{ gallery['best_image'] }}">
    </a>
    <p><a href="{{ gallery['gallery'] }}">{{ gallery["name"] }}</a></p>
    {{ gallery["images"] | size }} image{% if gallery["images"].size != 1 %}s{% endif %}
</div>
{% endfor %}
